@charset "utf-8";
/* CSS Document */
.infotb {
	/*width: 800px;*/
	position: absolute;
	top: 8px;
	right: 10px;
}
.infotb table {
	margin: 0px;
	padding: 0px;
	border: 1px dotted #CCC;
	background: #ffffff;
	font-size: 12px;
}
.infotb table td {
	margin: 0px;
	padding: 0px;
	background: #fffbdc;
	border-bottom: 1px dotted #CCC;
}
.infotb table .value {
	text-align: right;
	color: #C00;
	padding: 3px 10px 1px 5px;
	background: #fdf9db;
}
.infotb table .name {
	text-align: left;
	background: #FFF url(../images/dot.gif) no-repeat 5px 7px;
	padding-left: 18px;
	padding-top: 3px;
	padding-bottom: 1px;
}

.title {
	font: bold 20px "微軟正黑體";
	color: #014b6a;
	background: url(../images/title_bg.gif) no-repeat left top;
	height: 58px;
	padding-top: 10px;
	padding-left: 70px;
	letter-spacing: 0.05em;
}

.path {
	background: url(../images/path_bg.gif) no-repeat 2px 2px;
	padding-left: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.clear {
	border-style: none;
}
.clear td {
	vertical-align: top;
	width: 50%;
	border-style: none;
}

#case-1 {
	background: url(../images/clear_bg.gif) no-repeat center top;
	height: 744px;
	width: 932px;
	padding-top: 5px;
	margin-right: 5px;
}
#case-1 iframe {
	margin-left: 20px;
}

#cases ul {
	margin: 0px 0px 0px 20px;
	padding: 0px;
}
#cases ul li {
	float: left;
	list-style: none;
	background: url(../images/PanelsTab2_Leftbg2.gif) no-repeat left top;
	padding-left: 10px;
	margin-right: 1px;
}
#cases ul li a {
	color: #FFF;
	background: url(../images/PanelsTab2_Rightbg2.gif) no-repeat right top;
	padding: 7px 15px 3px 5px;
	height: 22px;
	text-decoration: none;
}
#cases ul li a:hover {
	color: #FF3;
	text-decoration: none;
}

#tabs-1 ,#tabs-2 ,#tabs-3 ,#tabs-4, #tabs-5, #tabs-6, #tabs-7 {
	background: url(../images/clear_bg.gif) no-repeat center top;
	height: 744px;
	width: 932px;
	padding-top: 5px;
	margin-left: 5px;
}
#tabs-1 iframe ,#tabs-2 iframe ,#tabs-3 iframe ,#tabs-4 iframe ,#tabs-5 iframe ,#tabs-6 iframe ,#tabs-7 iframe {
	margin-left: 20px;
}


#tabs ul {
	margin: 0px 0px 0px 20px;
	padding: 0px;
}
#tabs ul li {
	float: left;
	list-style: none;
	background: url(../images/PanelsTab2_Leftbg2.gif) no-repeat left top;
	padding-left: 10px;
	margin-right: 1px;
}
#tabs ul li a {
	color: #FFF;
	background: url(../images/PanelsTab2_Rightbg2.gif) no-repeat right top;
	padding: 7px 15px 3px 5px;
	height: 22px;
	text-decoration: none;
}

#tabs ul li a:hover {
	color: #FF3;
	text-decoration: none;
}

