body,td {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.managetable {
	border: 1px solid #666;
	width: 97%;
	margin: 20px 0 10px 0;
}

.managetableNoBorder {
	border: 0px solid #666;
	width: 97%;
	margin: 20px 0 10px 0;
}

.managetable th{
	padding: 2px 4px 2px 4px;
	text-align: center;
	vertical-align: top;
	white-space:nowrap;
}

.managetable td {
	padding: 2px 4px 2px 4px;
	text-align: left;
	vertical-align: top;

}

.managetable thead tr {
	background-color: #CADDB3;
	FONT-SIZE: 13px; 
	LINE-HEIGHT: 20px;
}

.managetable th.sorted {
	background-color: #85A45D;
}

.managetable th a,.managetable th a:visited {
	color: black;
}

.managetable th a:hover {
	text-decoration: underline;
	color: black;
}
.managetable th a:link {
	text-decoration: underline;
	color: black;
}
.managetable th.sorted a,.managetable th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

.managetable th.sortable a {
	background-image: url(../images/displaytag/arrow_off.png);
	background-position: right center;
	background-repeat: no-repeat
}

.managetable th.order1 a {
	background-image: url(../images/displaytag/arrow_down.png);
}

.managetable th.order2 a {
	background-image: url(../images/displaytag/arrow_up.png);
}

.managetable tr.odd {
	background-color: #FFFFFF;
	HEIGHT: 18px;
	FONT-SIZE: 12px; 
}

.managetable tr.tableRowEven,.managetable tr.even {
	background-color: #ECF3E4;
	HEIGHT: 18px;
	FONT-SIZE: 12px; 
}

.managetable td.center{
	padding:inherit;
	text-align:center;
	vertical-align:top;
}

.managetable td.right{
	padding:inherit;
	text-align:right;
	vertical-align:inherit;
}

/*
div.exportlinks {
	background-color: #fff;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
}
*/
div.exportlinks {
	background-color: #fff;
  border: 1px solid #ccc;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 12px 0;
	color : #669966
}

span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
}

span.excel {
	background-image: url(../images/displaytag/ico_file_excel.png);
}

span.csv {
	background-image: url(../images/displaytag/ico_file_csv.png);
}

span.xml {
	background-image: url(../images/displaytag/ico_file_xml.png);
}

span.pdf {
	background-image: url(../images/displaytag/ico_file_pdf.png);
}

span.rtf {
	background-image: url(../images/displaytag/ico_file_rtf.png);
}


span.pagebanner {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin-top: 12px;
	display: block;
	border-bottom: none;

}

span.pagelinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	display: block;
	border-top: none;
	margin-bottom: 5px;

}

.odd {
	background-color: #FFFFFF;
	HEIGHT: 18px;
	FONT-SIZE: 12px; 
}

.even {
	background-color: #ECF3E4;
	HEIGHT: 18px;
	FONT-SIZE: 12px; 
}

.odd2 {
	background-color: #FFFFFF;
	HEIGHT: 18px;
	FONT-SIZE: 12px;
	cursor: pointer;
}

.even2 {
	background-color: #ECF3E4;
	HEIGHT: 18px;
	FONT-SIZE: 12px;
	cursor: pointer;
}
a,a:visited,a:hover {
	color: #666;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}