A:link {
	FONT-SIZE: 13px; COLOR: #0b7cce
}
A:visited {
	FONT-SIZE: 13px; COLOR: #666666
}
A:hover {
	FONT-SIZE: 13px; COLOR: #cc0000
}
.m_hot {
	FONT-SIZE: 13px; COLOR: #000000; LINE-HEIGHT: 22px
}
.in_li06 {
	LIST-STYLE-POSITION: inside; FONT-SIZE: 12px; LINE-HEIGHT: 22px; LIST-STYLE-TYPE: none
}
.link06:hover {
	COLOR: #FF6600; TEXT-DECORATION: none
}
.link06:link {
	COLOR: #FF6600; TEXT-DECORATION: none
}
.link06:visited {
	COLOR: #FF6600; TEXT-DECORATION: none
}
.link15:hover {
	COLOR: #09419d; TEXT-DECORATION: underline
}
.link15:link {
	COLOR: #09419d; TEXT-DECORATION: none
}
.link15:visited {
	COLOR: #09419d; TEXT-DECORATION: none
}
.link04:hover {
	COLOR: #026b7a; TEXT-DECORATION: underline
}
.link04:link {
	COLOR: #026b7a; TEXT-DECORATION: none
}
.link04:visited {
	COLOR: #026b7a; TEXT-DECORATION: none
}
.link07:hover {
	COLOR: #c41212; TEXT-DECORATION: underline
}
.link07:link {
	COLOR: #c41212; TEXT-DECORATION: none
}
.link07:visited {
	COLOR: #c41212; TEXT-DECORATION: none
}
.link08:hover {
	COLOR: #1101b7; TEXT-DECORATION: underline
}
.link08:link {
	COLOR: #1101b7; TEXT-DECORATION: none
}
.link08:visited {
	COLOR: #1101b7; TEXT-DECORATION: none
}
.link10:hover {
	COLOR: #0e5b02; TEXT-DECORATION: underline
}
.link10:link {
	COLOR: #0e5b02; TEXT-DECORATION: none
}
.link10:visited {
	COLOR: #0e5b02; TEXT-DECORATION: none
}
.link11:hover {
	COLOR: #2ab4c7; TEXT-DECORATION: underline
}
.link11:link {
	COLOR: #2ab4c7; TEXT-DECORATION: none
}
.link11:visited {
	COLOR: #2ab4c7; TEXT-DECORATION: none
}
.link12:hover {
	COLOR: #009900; TEXT-DECORATION: underline
}
.link12:link {
	COLOR: #009900; TEXT-DECORATION: none
}
.link12:visited {
	COLOR: #009900; TEXT-DECORATION: none
}
.link13:hover {
	COLOR: #cc3333; TEXT-DECORATION: underline
}
.link13:link {
	COLOR: #cc3333; TEXT-DECORATION: none
}
.link13:visited {
	COLOR: #cc3333; TEXT-DECORATION: none
}
.link-white:hover {
	COLOR: #FFFFFF;
	TEXT-DECORATION: underline;
	font-size: 12px;
}
.link-white:link {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	font-size: 12px;
}
.link-white:visited {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	font-size: 12px;
}
.m_grey {
	FONT-SIZE: 13px; COLOR: #333333; LINE-HEIGHT: 22px
}
.title13b {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #2ab4c7
}
.noboard {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #ffffff 1px solid; COLOR: #666666; BORDER-BOTTOM: #ffffff 1px solid
}
.title13bp {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #cc2365
}
.title13org {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #dc7207
}
.white-word {
	FONT-SIZE: 13px; COLOR: #ffffff; LINE-HEIGHT: 20px
}
.word-blue {
	FONT-SIZE: 13px; COLOR: #2ab4c7; LINE-HEIGHT: 20px
}
.word-green {
	FONT-SIZE: 13px; COLOR: #009900; LINE-HEIGHT: 20px
}
.word-black {
	FONT-SIZE: 13px; COLOR: #000000; LINE-HEIGHT: 20px
}
.word-4c4c4c {
	FONT-SIZE: 13px; COLOR: #4c4c4c; LINE-HEIGHT: 20px
}
.word-red {
	FONT-SIZE: 13px; COLOR: #cc3333; LINE-HEIGHT: 20px
}
.word_redb {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #cc3333
}
.001 {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px solid; COLOR: #006600; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #ffffcc
}
.table-sub-title {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	color: black;
	letter-spacing: 1pt;
	word-spacing: 1pt;
	background-color: #C8E3D6;
	padding-top: 5px;
	padding-left: 5px;
	text-align: left;
}
.table-sub-text-line1 {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	line-height: 16px;
	color: #4c4c4c;
	letter-spacing: 1pt;
	word-spacing: 1pt;
	padding-left: 5px;
	background-color: #fafafa;
}


/* form elements */
label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}
input {
	padding:2px;
	border:1px solid #777;
	font: normal 1em Verdana, sans-serif;
	color:#777;
}
textarea {
	padding:2px;
	font-family: Verdana, sans-serif;
	border:1px solid #777;
	display:block;
	color:#777;
}
.button {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	HEIGHT:20px;
	color: #333333;
	padding-right: 1px;
	padding-left: 1px;
	font-size: 12px;
	border: 1px solid #999999;
	letter-spacing: 1pt;
	word-spacing: 1pt;
	padding-top: 1px;
	background-color: DEDEDE;
	background-color:#FFC02B;
}


/* Strip */
#strip {
	position:relative;
	clear:both;
	padding:20px 0px 10px 0px;
	color:#FF6666;
	font-size: 13px;
}
#strip p {margin:0;}
#strip a {color:#0099FF;}
#strip a:hover {color:#000099;}

    /* Strip - breadcrumbs */
    #strip #breadcrumbs {
	width:700px;
	margin:0;
	padding:0;
	color:#666666;
	float: left;
}



/* Main Column */
.noscreen {display:none;}
#main {
	float: left;
	/*width: 99%;*/
	padding: 0px; margin: 0;
}

/*- Menu Tabs 5--------------------------- */

    #tabs5 {
      float:left;
      width:95%;
       /*background:#E3ECF3;*/
	  font: bold 11px/1.5em Verdana;
      /*font-size:93%;*/
      line-height:normal;
      border-bottom:1px solid #F4B7D6;
	  margin:0 0 10px 0;
      }
    #tabs5 ul {
          margin:0;
          padding:10px 10px 0 0px;
          list-style:none;
      }
    #tabs5 li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabs5 a {
      float:left;
      background:url("../images/tableft5.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabs5 a span {
      float:left;
      display:block;
      background:url("../images/tabright5.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs5 a span {float:none;}
    /* End IE5-Mac hack */
    #tabs5 a:hover span {
      color:#FFF;
      }
    #tabs5 a:hover {
      background-position:0% -42px;
      }
    #tabs5 a:hover span {
      background-position:100% -42px;
      }

      #tabs5 #current a {
              background-position:0% -42px;
      }
      #tabs5 #current a span {
              background-position:100% -42px;
      }


/* Right column */
#col {float:left; width:200px; margin:8px 0 0 0; padding:0; background:#CEDBF9 url("../images/col_bg.gif") 0 0 repeat-y;}
#col-in {padding:20px 10px; background:url("../images/col_top.gif") 0 0 no-repeat;}
#col h3 {
	padding:6px 15px 6px 15px;
	margin:0 -10px 3px -10px;
	background:#A0B9F3 url("../images/col_title_bg.gif") 0 0 repeat-y;
	color:#192666;
	font-size: 16px;
}

    /* Right column - Category */
    #col ul#Category {margin: 1px 0; padding:0; list-style:none;}
    #col ul#Category li {margin:0; padding:0; border-bottom:1px solid #E0E8FA;}
    #col ul#Category li a {display:block; padding:3px 0 3px 22px; background:url("../images/ico_archive.gif") 5px 6px no-repeat; text-decoration:none;}
    #col ul#Category li a:hover {background-color:#FFFFFF; color:#192666;}
    #col ul#Category li#Category-active a {background:#E0E8FA url("../images/ico_archive2.gif") 5px 50% no-repeat; font-weight:bold;}

    /* Right column - Category1 */
    #col ul#Category1 {margin: 1px 0; padding:0; list-style:none;}
    #col ul#Category1 li {margin:0; padding:0; border-bottom:1px solid #E0E8FA;}
    #col ul#Category1 li a {display:block; padding:3px 0 3px 22px; background:url("../images/ico_archive.gif") 5px 6px no-repeat; text-decoration:none;}
    #col ul#Category1 li a:hover {background-color:#FFFFFF; color:#192666;}
    #col ul#Category1 li#Category1-active a {background:#E0E8FA url("../images/ico_archive2.gif") 5px 50% no-repeat; font-weight:bold;}

    /* Right column - Category2 */
    #col ul#Category2 {margin:1px 0; padding:0; list-style:none;}
    #col ul#Category2 li {margin:0; padding:0; border-bottom:1px solid #E0E8FA;}
    #col ul#Category2 li a {display:block; padding:3px 0 3px 22px; background:url("../images/ico_archive.gif") 5px 50% no-repeat; text-decoration:none;}
    #col ul#Category2 li a:hover {background-color:#FFFFFF; color:#192666;}
    #col ul#Category2 li#Category2-active a {background:#E0E8FA url("../images/ico_archive2.gif") 5px 6px no-repeat; font-weight:bold;}

    /* Right column - Category3 */
    #col ul#Category3 {margin:1px 0; padding:0; list-style:none;}
    #col ul#Category3 li {margin:0; padding:0; border-bottom:1px solid #E0E8FA;}
    #col ul#Category3 li a {display:block; padding:3px 0 3px 22px; background:url("../images/ico_archive.gif") 5px 50% no-repeat; text-decoration:none;}
    #col ul#Category3 li a:hover {background-color:#FFFFFF; color:#192666;}
    #col ul#Category3 li#Category3-active a {background:#E0E8FA url("../images/ico_archive2.gif") 5px 6px no-repeat; font-weight:bold;}

    /* Right column - Category4 */
    #col ul#Category4 {margin:1px 0; padding:0; list-style:none;}
    #col ul#Category4 li {margin:0; padding:0; border-bottom:1px solid #E0E8FA;}
    #col ul#Category4 li a {display:block; padding:3px 0 3px 22px; background:url("../images/ico_archive.gif") 5px 50% no-repeat; text-decoration:none;}
    #col ul#Category4 li a:hover {background-color:#FFFFFF; color:#192666;}
    #col ul#Category4 li#Category4-active a {background:#E0E8FA url("../images/ico_archive2.gif") 5px 6px no-repeat; font-weight:bold;}

    /* Right column - Category5 */
    #col ul#Category5 {margin:1px 0; padding:0; list-style:none;}
    #col ul#Category5 li {margin:0; padding:0; border-bottom:1px solid #E0E8FA;}
    #col ul#Category5 li a {display:block; padding:3px 0 3px 22px; background:url("../images/ico_archive.gif") 5px 50% no-repeat; text-decoration:none;}
    #col ul#Category5 li a:hover {background-color:#FFFFFF; color:#192666;}
    #col ul#Category5 li#Category5-active a {background:#E0E8FA url("../images/ico_archive2.gif") 5px 6px no-repeat; font-weight:bold;}

    /* Right column - Category6 */
    #col ul#Category6 {margin:1px 0; padding:0; list-style:none;}
    #col ul#Category6 li {margin:0; padding:0; border-bottom:1px solid #E0E8FA;}
    #col ul#Category6 li a {display:block; padding:3px 0 3px 22px; background:url("../images/ico_archive.gif") 5px 50% no-repeat; text-decoration:none;}
    #col ul#Category6 li a:hover {background-color:#FFFFFF; color:#192666;}
    #col ul#Category6 li#Category6-active a {background:#E0E8FA url("../images/ico_archive2.gif") 5px 6px no-repeat; font-weight:bold;}

    /* Right column - Links */
    #col ul#links {margin:15px 0; padding:0; list-style:none;}
    #col ul#links li {margin:0; padding:0; border-bottom:1px solid #E0E8FA;}
    #col ul#links li a {display:block; padding:3px 0 3px 22px; background:url("../images/ico_links.gif") 5px 6px no-repeat; text-decoration:none;}
    #col ul#links li a:hover {background-color:#FFFFFF; color:#192666;}
